// // colors.scss
// .primary {
//     color: #534292;
// }

// .secondary {
//     color: #222222;
// }

// .green {
//     color: #56941E;
// }

// .yellow {
//     color: #ffcc00;
// }

// .red {
//     color: #ed1419;
// }