// // forms.scss
// form .country {
//     float: left;
//     width: fit-content;
//     margin: 8px 8px 8px 0;
//     padding: 12px;
//     background-color: #534292;
//     background-image: linear-gradient( 135deg, #654A86, #534292);
//     color: #FFFFFF;
//     border-radius: 8px;
//     font-size: 10pt;
// }

// form .country .flag {
//     width: 24px;
// }

// // Number Fields
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
// }

// input[type=number] {
//     -moz-appearance: textfield;
// }

// // Form Div
// #form {
//     margin: 42px auto;
// }

// #form #emoji {
//     font-size: 28pt;
//     margin: 0 0 0 -2px;
// }

// #form #header {
//     font-weight: 900;
//     font-size: 18pt;
//     margin: 12px 0 6px;
//     line-height: 150%;
// }

// #form #sub-header {
//     line-height: 180%;
//     font-weight: bold;
//     font-size: 12pt;
//     margin: 6px 0;
// }

// // Form Components
// form {
//     margin: 24px 0;
// }

// form .field {
//     margin: 12px 0;
// }

// form label {
//     display: block;
//     margin: 0 0 12px;
//     font-size: 9pt;
//     font-weight: bold;
// }

// form input,
// form select,
// form textarea {
//     width: calc(100% - 34px);
//     padding: 16px;
//     font-weight: bold;
//     font-size: 12pt;
//     border: 2px solid #eee;
//     border-radius: 12px;
//     background: #ffffff;
// }

// form .mobile-number input {
//     width: calc(100% - 124px);
//     padding: 16px;
//     font-weight: bold;
//     font-size: 12pt;
//     border: 2px solid #eee;
//     border-radius: 12px;
// }

// form input[type="submit"] {
//     width: 100%;
// }

// form #note {
//     font-size: 10pt;
//     opacity: 0.8;
//     margin: 16px 0;
//     line-height: 150%;
// }

// form .actions {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 100%;
// }

// form .actions a {
//     margin: 12px 0 0;
// }