// layers.scss
#layer-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f0f6;
    z-index: 0;
}

#layer-foreground {
    position: relative;
    background: #ffffff;
    height: 100vh;
    margin: auto;
    max-width: var(--max-width);
    min-height: var(--min-height);
    overflow: hidden;
    box-shadow: 2px 4px 71px #d9d1de;
    z-index: 1;
}

#layer-foreground.registration-foreground,
#layer-foreground.dashboard-foreground {
    height: unset;
    min-height: 100vh;
}

@media screen and (max-width: 624px) {
    #layer-foreground {
        position: absolute;
        background: #ffffff;
        width: 100%;
        height: 100%;
        overflow: auto;
        box-shadow: none;
    }
}

@media screen and (max-width: 450px) {
    #layer-foreground.index-foreground {
        min-height: 724px;
    }
}

@media screen and (max-width: 355px) {
    #layer-foreground.index-foreground {
        min-height: 800px;
    }
}