// notices.scss
.notice-float {
    position: fixed;
    top: 24px;
    left: 36px;
    width: calc(100% - 104px);
    padding: 16px 12px;
    color: #444444;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    line-height: 180%;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.notice-float.top {
    top: 24px;
    bottom: unset;
}

.notice-float.bottom {
    top: unset;
    bottom: 24px;
}

form .notice-float {
    z-index: 124;
}

@media screen and (min-width: 666px) {
    .notice-float {
        left: 50%;
        width: 420px;
        margin-left: -222px;
        box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
    }
}