.admin-form #form {
    margin: 42px 0 0;
}

.admin-form form {
    margin: 24px 0 0;
}

.admin-form form .actions {
    position: relative;
    margin: 42px 0 0;
}

.admin-form form .actions .cta {
    position: relative;
    font-size: 10pt;
}