.admin-dashboard #form {
    margin: 0;
}

.admin-dashboard form {
    margin: 0;
}

.admin-dashboard form .field {
    margin: 0;
}

.admin-dashboard form label {
    display: block;
    margin: 0 0 20px;
    font-size: 11pt;
    font-weight: bold;
}

.admin-dashboard form textarea {
    font-size: 11pt;
}

.admin-dashboard form .actions {
    position: relative;
    margin: 12px 0 0;
}