#nav {
    position: relative;
    height: 22px;
    color: #ffffff;
}

#nav .logo {
    margin: 2px auto -19px;
    font-size: 12pt;
    font-weight: normal;
    text-align: center;
}

#nav .header {
    margin: 0px auto -20px;
    font-size: 11pt;
    font-weight: bold;
    text-align: center;
}

#nav #left {
    float: left;
    margin: 1px;
}