<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.name %>!</h1>
    <p>Thanks for joining and have a great day! You can now sign in as a broker and start selling!</p>
    <a href="https://tradely-project.herokuapp.com/">Log In</a>
  </body>
</html>
