.dashboard #body {
    padding: 42px;
    height: calc(100vh - 84px);
    overflow: auto;
}

.dashboard #body #header {
    margin: 0;
    font-size: 16pt;
    font-weight: 800;
}

.dashboard #body #header span {
    margin-right: 5px;
}