.admin-dashboard #welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.admin-dashboard #welcome .icon {
    margin: -24px 0 0;
    font-size: 72pt;
}

.admin-dashboard #welcome .title {
    font-size: 14pt;
    font-weight: bold;
    margin: 24px 0 12px;
}

.admin-dashboard #welcome .sub {
    font-size: 11pt;
    margin: 0;
    opacity: 0.8;
}