<% content_for :title, "Forgot Password / Tradely" %>
<!-- Forgot Password Page -->
<div id="forgot-password" class="page">
    <div class="page-background"></div>
    <div class="page-foreground">
        <header id="brand">
          <a href="/" class="no-underline">
            <p class="logo bloop">Tradely</p>
          </a>
        </header>
        <main id="form">
            <p id="emoji">🔑</p>
            <p id="header">Forgot Password</p>
            <p id="sub-header">Please enter your email to receive an instruction on how to reset your password.</p>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "users/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.email_field :email, autocomplete: "email", placeholder: "Email Address", required: true %>
              </div>

              <div class="actions absolute">
                <%= f.submit "Submit", class: "cta" %>
              </div>
            <% end %>
        </main>
    </div>
</div>
