// registration.scss
#registration #form {
    margin: 42px 0 0;
}

#registration form {
    margin: 32px 0 0;
}

#registration form .field {
    margin: 24px 0;
}

#registration form label {
    font-size: 10pt;
}

#registration form input {
    font-size: 12pt;
}

#registration form .note {
    margin: -8px 0 0;
    text-align: right;
}

#registration form .actions {
    position: relative;
    margin: 42px 0 0;
}

#registration form .actions .cta {
    position: relative;
    font-size: 10pt;
}